- size_checker = project.repository_size_checker
- if size_checker.above_size_limit? && !::Gitlab::CurrentSettings.automatic_purchased_storage_allocation?
  = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false, alert_class: 'gl-display-none gl-sm-display-block') do |c|
    = c.body do
      = size_checker.error_message.above_size_limit_message
